@tailwind base;

@tailwind components;

@tailwind utilities;

h1 {
  font-size:2rem;
}

h2, h3, h4, p {
  margin-bottom:1rem;
  font-family:'Open Sans', sans-serif;
}

h1 {
  font-family:'Roboto Slab', serif;
}

h2 {
  font-size:1.5rem;
}

body, section {
  background:#fafafa;
  color:#333333;
}

section {
  padding-top:5rem;
  padding-bottom:5rem;
}

body {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}