@tailwind base;

@tailwind components;

@tailwind utilities;

h1 {
  font-size:2rem;
}

h2, h3, h4, p {
  margin-bottom:1rem;
  font-family:'Open Sans', sans-serif;
}

h1 {
  font-family:'Montserrat', serif;
  font-size: 4rem;
  line-height: 4rem;
}

h2 {
  font-size:1.5rem;
}

body {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.gradient {
  background: #141E30;
}

.half {
  flex-basis: 50%;
}

.full {
  flex-basis: 100%;
}

.text-lesser {
  color:rgba(255,255,255,0.7);
}

.letter-spacing {
  letter-spacing: 0.5px;
}

.half, .full {
  z-index:1;
}